@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@346&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
body {
    margin: 0;
    font-family: "Montserrat", serif;
  }
  .logo {
    max-width: 100%;
    max-width: 130px;
  }
  .navbar {
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  .navbar a {
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    font-size: 20px;
    padding: 5px 15px;
  }
  .menu-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 35px;
    text-decoration: none;
    color: black; 
}
  .menu-icon i {
    display: inline-block;
}
  .mobile-navmenu {
    display: none;
    width: 100%;
    height:fit-content;
    background: #ff2d2d;
  }
  .mobile-navmenu li {
    list-style: none;
    font-size: 20px;
    padding:0 50px ;
  }
  .mobile-navmenu li:first-child{
    padding-top: 50px;
  }
@media (max-width:768px) {
    .navbar {
      display: none;
    }
    .menu-icon {
      display: block;
    }
    .mobile-navmenu {
      display: block;
    }
}